<h1 align="center">New User</h1>

<%= render 'form' %>

<hr>
<p align="center">
  <%= link_to 'All Users', users_path %>
</p>

  <!--   <div id="register">
    <%= link_to 'Sign up', new_user_registration_path %>
    </div> -->