/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ececec;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 768px;
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

nav {
  background-color: #01af94;
  max-width: 100%;
  color: white;
  text-align: right;
  height: 40px;
  padding: 10px;
}

.language-change {
  display: inline-block;
  float: right;
}

.logo {
  position: fixed;
  left: 5px;
}

#blog {
  position: absolute;
  left: 100px;
  top: 12px;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.robothead {
  width: 70px;
  position: fixed;
  padding-left: 10px;
  float: left;
  top: 0;
  z-index: 1;
}

.navlinks {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  margin: 10px;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.navlinks a {
  padding-bottom: 5px;
  margin: 5px;
}

.navlinks a:hover {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.tag-link {
  margin-top: 5px;
  width: 35px;
}

li {
  list-style-type: none;
}

nav a:visited {
  color: #fff;
 }

#login-form {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.form-label {
  text-align: left;
}

#title-logo {
  width: 40%;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 30px;
}

form {
  margin-left: auto;
  margin-right: auto;
}

textarea {
  resize: none;
  background-color: #606060;
  color: white;
  font-size: 16px;
  border: none;
}

input#post_title {
  resize: none;
  background-color: #606060;
  color: white;
  font-size: 24px;
  border: none;
}
/*
#dropdown {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  border-color: white;
  background-color: #01af94;
  border-radius: 8px;
 }

.dropdown-items {
  display: none;
  background-color: #01af94;
  padding: 0;
  position: absolute;
  margin: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 50px;
  padding: 5px;
  height: 50px;
   -webkit-appearance: none;
}
*/

.post-item {
  margin-bottom: 2%;
  display: flex;
}

.post-image {
  margin: 3%;
  left: 0;
}

.post-text {
  padding: 3%;
  max-width: 600px;
  display: inline-block;
}

.post-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.post-body {
  height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
  text-align: justify;
}

.read-more {
  font-weight: 400;
  color: #01af94;
  font-size: 16px;
}

.submit-button {
  padding: 10px;
}
